node_modules
dist
build
coverage
.env
.env.*
!.env.example
!.env.test
.DS_Store

# Vite / tooling
.vite

# TypeScript build outputs
**/*.tsbuildinfo
**/*.d.ts
**/*.d.ts.map
**/*.js.map

# any configs get compiled
**/vitest.config.js
**/vitest.config.d.ts
**/vitest.config.d.ts.map
**/vite.config.js
**/vite.config.d.ts
**/vite.config.d.ts.map

# any temp files or folders
**/.tmp